/*
 * Globals
 */

@media (min-width: 48em) {
    html {
        font-size: 18px;
    }
}

body {

    font-family: 'Open Sans', sans-serif;
    color: #1e2022;
    background-color: #e1e7fa;
}

main {
    margin: 15px 15px 0px 0px;
}

a {
    color: #1e2022;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-weight: normal;
    color: #1e2022;
}


/*
 * Override Bootstrap's default container.
 */
.btn-color {
    background-color: #0828CC;
    color: white;
}

.btn-color:hover {
    background-color: white;
    border-color: black;
    color: black;
}

.alert-info {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

/*
 * Masthead for nav
 */

.navbar {
    background-color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
}


.navbar-brand {
    color: #1e2022;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-item {
    color: #1e2022;
    text-decoration: none;
}

.nav-item a {
    color: #1e2022;
    text-decoration: none;

}

.nav-link:hover,
.navbar-brand:hover {
    color: #fc2f70;
    text-decoration: underline;
}
/*
.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fc2f70;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out;
}



.nav-link:hover::after {
    transform: translate(-50%, 0) scaleX(1);
}
*/

/* Normal links */

.frontend a {
    color: #1e2022;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.frontend a::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.25em;
    right: -0.25em;
    background-color: #fc2f70;
    transform-origin: bottom center;
    transform: scaleY(0.1);
    transition: all 0.1s ease-in-out;
}

.frontend a:hover::before {
    transform: scaleY(1);
    background-color: hsla(341, 97%, 59%, 0.75);
}

.frontend a:hover {
    color: #1e2022;
    text-decoration: none;
}


/* Active state gets a caret at the bottom */
.nav-link.active {
    color: #fff;
}

@media (min-width: 900px) {
    .nav-link.active:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -.3rem;
        vertical-align: middle;
        content: "";
        border-right: .3rem solid transparent;
        border-bottom: .3rem solid;
        border-left: .3rem solid transparent;
    }
}


/*
 * page name and description
 */

.page-header {
    padding-bottom: 1.25rem;
    border-bottom: .05rem solid #eee;
}

.page-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: normal;
}

.page-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 40em) {
    .page-title {
        font-size: 3.5rem;
    }
}

.page-post {
    margin-bottom: 4rem;
}

/*
 * Footer
 */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 20px; /* Vertically center the text there */
    background-color: #f5f5f5;

}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}





