/*
 * Globals
 */

@media (min-width: 48em) {
    html {
        font-size: 18px;
    }
}

body {
    color: #555;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 500;
}

main {
    margin: 15px 15px 0px 0px;
}

/* Nav links */
.nav-link {
    position: relative;
    font-weight: 500;
    color: #cdddeb;
}

.navbar-brand {
    font-family: 'IBM Plex Serif', serif;
}

.navbar-brand:hover,
.nav-link:hover,
.nav-link:focus {
    color: #fff;
    background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
    color: #fff;
}

.alert-info {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 40px; */
    line-height: 20px; /* Vertically center the text there */

}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
